h1{
    background-color: red;
    text-align: center;
}
span{
    color: white;
    vertical-align: bottom;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 4em;
    height: 115px;
}

